<% layout("./layout/boilerplate.ejs") -%>

  <div class="container mb-5" style="margin-top: 100px;">
    <!-- <div class="card shadow"> -->
      <div class="card-body">
        <h3 class="card-title mb-4">Edit Listing</h3>

        <form
          action="/listings/<%= listing._id %>?_method=PUT"
          method="POST" novalidate class="needs-validation"
        >
          <!-- Title -->
          <div class="mb-3">
            <label class="form-label">Title</label>
            <input
              type="text"
              name="title"
              class="form-control"
              value="<%= listing.title %>"
              required
            />
          </div>

          <!-- Description -->
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea
              name="description"
              class="form-control"
              rows="3"
              required
            ><%= listing.description %></textarea>
          </div>

          <!-- Image URL -->
          <div class="mb-3">
            <label class="form-label">Image URL</label>
            <input
              type="text"
              name="image"
              class="form-control"
              value="<%= listing.image.url %>"
              required
            />
          </div>

          <!-- Price -->
          <div class="mb-3">
            <label class="form-label">Price</label>
            <input
              
              name="price"
              class="form-control"
              value="<%= listing.price %>"
              required
            />
          </div>

          <!-- Location -->
          <div class="mb-3">
            <label class="form-label">Location</label>
            <input
              type="text"
              name="location"
              class="form-control"
              value="<%= listing.location %>"
              required
            />
          </div>

          <!-- Country -->
          <div class="mb-3">
            <label class="form-label">Country</label>
            <input
              type="text"
              name="country"
              class="form-control"
              value="<%= listing.country %>"
              required
            />
          </div>

          <!-- Buttons -->
          <button href="/listings/<%= listing._id %>" type="submit" class="add btn btn-success">
            Update Listing
          </button>

          <a href="/listings" class="btn btn-secondary ms-2">
            Cancel
          </a>
        </form>

      </div>
    </div>
  </div>


