<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
      <div class="card" style="margin: 10px; width: 25rem;">
          <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="image"
          />
          
          <div class="card-body">
        <h5 class="card-title">Listing Details</h5>
        <p><strong>Title:</strong> <%= listing.title %></p>
        <p><strong>Description:</strong> <%= listing.description %></p>
        <p><strong>Price:</strong><b>&#8377</b><%=listing.price.toLocaleString("en-IN") %></p>
        <p><strong>Country : </strong><%=listing.country %></p>
      </div>
      <div class="d-flex gap-2 mb-3 mx-3">
          
          <form method="get" action="/listings/<%= listing._id %>/edit">
              <button class="btn btn-primary" type="submit"><i class="fa-solid fa-pen-to-square"></i></button>
            </form>

            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                <button class="btn btn-danger" type="submit"><i class="fa-solid fa-trash"></i></button>
            </form>
        </div>
        
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"
  ></script>
</html>
